    body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar > .navbar-brand {
    flex-grow: 0;
}

.navbar > .navbar-start {
    flex-grow: 1;
    margin-left: 20px;
}

.navbar > .navbar-start > * {
    margin-right: 15px;
}

.navbar > .navbar-end {
    flex-grow: 0;
    margin-right: 15px;
}

.navbar > .navbar-end > * {
    margin-left: 15px;
}

.container {
    margin: auto;
    width: 75%;
}

form > .field {
    margin-top: 15px;
}

.field > label {
    margin-bottom: .5em;
}

.field > .help {
    margin-top: .25rem;
    font-size: .75rem;
}

.notification {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    /* position: absolute;
    right: 15px;
    width: 5rem; */
}

.notification.is-success {
    background-color: #48c774;
    color: #fff;
}
  
.notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}
  
.notification.is-danger {
    background-color: #f14668;
    color: #fff;
}

.delete {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.delete::before, .delete::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.delete::before {
    height: 2px;
    width: 50%;
  }
  
  .delete::after {
    height: 50%;
    width: 2px;
  }
  
  .delete:hover, .delete:focus {
    background-color: rgba(10, 10, 10, 0.3);
  }
  
  .delete:active {
    background-color: rgba(10, 10, 10, 0.4);
  }

.notification > .delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

/* .button {
    color: #54f2dd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #32bdab;
    font-weight: bold;
    text-decoration: none;
} */