<!DOCTYPE html>
<head>
    <meta charset='utf8' name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='{{ url_for("static", filename="stylesheet.css") }}' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='{{ url_for("static", filename="fav_yellow.svg") }}'>
    <script src='{{ url_for("static", filename="script.js")}}'></script> 
</head>
<body>
    <nav class='navbar' arial-label='Main navigation'>
        <div class='navbar-brand'>
            <a href='{{url_for("home") }}'>
                <img src='{{ url_for("static", filename="full_logo.svg") }}' height='56' title='Yikes.dog logo' alt='Logo for the Yikes.dog art collective, showing a colorful text that says .dog with a text bubble that contains Yikes!'>
            </a>
        </div>
        <div class='navbar-start'>
            <a href='{{ url_for("home") }}'>Home</a>
        </div>
        {% if 'email' not in session %}
        <div class='navbar-end'>
            <a class='button' href='{{ url_for("sign_up") }}'>Sign up</a>
            <a class='button' href='{{ url_for("log_in") }}'>Log in</a>
        </div>
        {% else %}
        <div class='navbar-end'>
            <a class='button' href='{{ url_for("user_page") }}'>Hiya {{ session.get('email') }}</a>
            <a class='button' href='{{ url_for("log_out") }}'>Log out</a>
        </div>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class='notification {{ category }}'>
            <button class='delete'></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>