{% extends "base.html" %}
{% block content %}
<section class='container'>
    <h1 class='title is-1'>Welcome to the <em>yikes.dog</em> art collective</h1>
    <p><em>It sucks, I know.</em></p>
    <p>We currently offer the following services:</p>
    <ul>
        <li><strong>Email!</strong> Contact me however you prefer (Discord: Greyoda#1606, email: sff [at] yikes [dot] dog) and I'll make you one. There's a webmail as well, it's <a href="https://mail.yikes.dog">here</a>.</li>
        <li><strong>Wiki!</strong> It's a dumb meme, but it exists. Contact me wherever and I'll make you an account. Can be found <a href="https://wiki.yikes.dog">here</a>.</li>
        <li><strong>Mastodon!</strong> The better version of Twitter. Find it <a href="https://toot.yikes.dog">here</a>.</li>
    </ul>
    <p>If you have an e-mail address you can log in and change your password. Maybe one day I'll integrate the password changing with in the webmail.</p>
    <p>You can also now sign-up, which just automates the process of contacting me.</p>
</section>
{% endblock %}