{% extends "base.html" %}
{% block content %}
<section class='container'>
    <h1>Hi, you can log in here!</h1>
    <form action='{{ url_for("log_in_form") }}' method='post'>
        <div class='field'>
            <label for='email'>Email</label>
            <div class='control'>
                <input type='email' id='email' name='email' required>
            </div>
        </div>
        <div class='field'>
            <label for='password'>Password</label>
            <div class='control'>
                <input type='password' id='password' name='password' required>
            </div>
        </div>
        <div class='field'>
            <button type='submit'>Login</button>
        </div>
    </form>
</section>
{% endblock %}