{% extends "base.html" %}
{% block content %}
<section class='container'>
    <h1>Change your password here</h1>
    <form id='form-password-change' action='{{ url_for("change_password_form") }}' method='post'>
        <div class='field'>
            <label for='password'>Password</label>
            <div class='control'>
                <input type='password' id='password' name='password' required>
            </div>
        </div>
        <div class='field'>
            <label for='new_password'>New password</label>
            <div class='control'>
                <input type='password' id='new_password' name='new_password' required>
            </div>
        </div>
        <div class='field'>
            <label for='confirm_password'>Confirm new password</label>
            <div class='control'>
                <input type='password' id='confirm_password' name='confirm_password' required>
            </div>
        </div>
        <div class='field'>
            <button id='submit-password-change' type='submit'>Change password</button>
        </div>
    </form>
</section>
{% endblock %}